<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DGWebScanner.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <DGWebScanner.Properties.Settings>
            <setting name="internetTimeout" serializeAs="String">
                <value>5000</value>
            </setting>
            <setting name="firstTimeRun" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="proxyIPSetting" serializeAs="String">
                <value />
            </setting>
            <setting name="proxyPortSetting" serializeAs="String">
                <value />
            </setting>
            <setting name="proxyUsernameSetting" serializeAs="String">
                <value />
            </setting>
            <setting name="proxyPasswordSetting" serializeAs="String">
                <value />
            </setting>
            <setting name="textShadeColorSetting" serializeAs="String">
                <value>WHITE</value>
            </setting>
            <setting name="primaryColorSetting" serializeAs="String">
                <value>Blue</value>
            </setting>
            <setting name="accentColorSetting" serializeAs="String">
                <value>Orange</value>
            </setting>
            <setting name="version" serializeAs="String">
                <value>0.2.5.4</value>
            </setting>
            <setting name="themeColorSetting" serializeAs="String">
                <value>LIGHT</value>
            </setting>
        </DGWebScanner.Properties.Settings>
    </userSettings>
</configuration>